.cart-total-container {
  display: flex;
  justify-content: space-between;
  padding: 25px 25px 70px 25px;
}

.cart-total-container .total-text {
  font-weight: bold;
}

.cart-total-container .total-price {
  font-weight: bold;
}

@media (max-width: 768px) {
  .cart-total-container {
    padding: 25px;
  }
}
