.hero-section-container {
  box-sizing: border-box;
  margin: 0;
  padding: 0 60px;
  background-image: linear-gradient(120deg, #f3e9dc 0%, #fdfbf8 100%);
  border-bottom: 5px solid #000;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.hero-section {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
}

.hero-section .otter-icon {
  font-size: 72px;
  color: #5c3a21;
  filter: drop-shadow(0 3px 2px rgba(0, 0, 0, 0.2));
  z-index: 1;
}

.hero-section h1 {
  font-family: "Courier New", Courier, monospace;
  font-size: 64px;
  padding-top: 30px;
}

.hero-section p {
  font-size: 20px;
  color: #111827;
  max-width: 600px;
  margin: 20px auto 40px auto;
  line-height: 1.6;
  text-align: center;
}

.hero-section button {
  margin-bottom: 20px;
}

@media (max-width: 767px) {
  .hero-section .otter-icon {
    display: none;
  }

  .hero-section h1 {
    font-size: 36px;
  }

  .hero-section p {
    font-size: 16px;
  }
}

@media (max-width: 1024px) {
}
