.cart-container {
  box-sizing: border-box;
  margin: 0;
  padding: 120px 40px 60px 40px;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  max-width: 100vw;
}

.cart-container .inner-div {
  width: 80vw;
}

.cart-container .cart-title {
  text-align: center;
  padding-bottom: 30px;
}

.cart-container .cart-layout {
  display: grid;
  grid-template-columns: 2fr 1fr;
  padding-top: 10vh;
}

.item-container {
  display: flex;
  flex-direction: row;
  gap: 15px;
  padding: 25px;
  border-bottom: 1px solid #eee;
}

.item-container .cart-image {
  height: auto;
  width: 10%;
  object-fit: contain;
  flex-shrink: 0;
}

.item-container .cart-information {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.item-container .title {
  flex: 1;
  word-wrap: break-word;
  margin: 0 0 5px 0;
}

.item-container .price {
  flex-shrink: 0;
  font-weight: bold;
  color: #2563eb;
}

.cart-quantity-delete-button input {
  width: 40px;
  border: 1px solid #a9a9ac;
  padding: 3px;
  border-radius: 3px;
}

.cart-quantity-delete-button button {
  width: 40px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

@media only screen and (max-width: 992px) {
  .item-container .image {
    height: 80px;
    width: auto;
    max-width: 120px;
    object-fit: cover;
    flex-shrink: 0;
  }
}
